
{%
set nav_classes = 'navbar navbar-expand-lg text-light'
%}

<header>
  {% block above_header %} {{ above_header }} {% endblock %}
  {% block header %} {{ header }} {% endblock %}

  <nav class="{{ nav_classes }}">
    <div class="container-fluid">
      <div class="header--nav-branding d-flex w-100 align-items-baseline">
        {% block nav_branding %} {{ nav_branding }} {% endblock %}

        <div class="header--nav-additional flex-fill collapse navbar-collapse justify-content-md-end" id="navbarSupportedContent">
          <div class="d-lg-flex flex-column justify-content-end align-items-end">
            {% block nav_additional %}{{ nav_additional }}{% endblock %}
          </div>
        </div>

        <div class="header--nav-search ms-auto">
          {% block nav_search %}
            {{ nav_search }}
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasMain" aria-controls="navbarSupportedContent"
                    aria-label="Toggle navigation">
              <i class="bi bi-list"></i>
            </button>
          {% endblock %}
        </div>
      </div>
    </div>

    <div class="container-fluid nav-main-menu-container">
      <div class="d-flex w-100 header-bottom">
        <div class="d-none d-md-block">
          {% block nav_main %} {{ nav_main }} {% endblock %}
        </div>
        {% if nav_actions %}
          <div class="ms-auto nav-actions">
            {% block nav_actions %} {{ nav_actions }} {% endblock %}
          </div>
        {% endif %}
      </div>
    </div>
  </nav>
</header>

<div class="offcanvas offcanvas-end offcanvas__main" tabindex="-1" id="offcanvasMain">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    {% block nav_offcanvas %} {{ nav_offcanvas }}{% endblock %}
  </div>
</div>
