{% if slides %}
  <div class="slider slider--{{ variant }}">
    {# Header: Title and Body #}
    {% if title or body|render is not empty %}
      <div class="slider_header row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          {% if title %}
            {% include 'psulib_base:heading' with {
              content: title,
              heading_html_tag: 'h2',
              heading_utility_classes: ['slider_heading'],
            } only %}
          {% endif %}

          {% if body|render is not empty %}
            <div class="slider__description">
              {{ body }}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}

    <div class="slider__container">
    {% if variant == 'media' %}
      <!-- Media Slider -->
      <div class="slider__slides" data-show-captions="{{ show_captions ? 'true' : 'false' }}">
        {% for slide in slides %}
          <div class="slide-media">
            <img src="{{ slide.image }}" alt="{{ slide.alt }}" />
          </div>
        {% endfor %}
      </div>

      {% if show_captions %}
        <div class="slider--captions">
          <div class="slider__caption-slides">
            {% for slide in slides %}
              <div class="slider--caption">{{ slide.caption|raw }}</div>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      <div class="slick-dots-container"></div>
    {% else %}
      {% if variant == 'blockquote' %}
        {{ attach_library('psulib_base/blockquote') }}
      {% endif %}

      <!-- Text Slider -->
      <div class="slider__slides">
        {% for slide in slides %}
          <div class="slide-media">{{ slide.caption|raw }}</div>
        {% endfor %}
      </div>

      <div class="slick-dots-container"></div>
    {% endif  %}
    </div>
  </div>
{% endif %}
