{#
/**
 * @file
 * Template for a Persib component.
 */
#}

<div class="row">
  <div class="col col-md-8">
    <div class="row">
      <div class="col-4">
        <div class="person__profile">
          {% block profile_image %}
            {% if has_profile_image %}
              {{ profile_image }}
            {% else %}
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="504px" height="504px" viewBox="0 0 504 504" enable-background="new 0 0 504 504" xml:space="preserve">
              <rect x="0" y="0" fill="#001e44" width="100%" height="100%"/>
              <g>
                <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" d="M218.379,190.15
                  c0,0-73.162-5.98-73.017,60.847c0.138,63.003,0,157.333,0,157.333L292.5,408.5l13.5-18c0,0,41,5.5,35.5-39.5l53-68.5l-40.5-69
                  l-16.5,22L316,216l-65.058,91.277L311,353l-92.5,0.25L218.379,190.15z"/>
                <circle fill="#FFFFFF" cx="219" cy="137.975" r="45.555"/>
              </g>
              </svg>
            {% endif %}
          {% endblock %}
        </div>
      </div>

      <div class="col-8">
        <h1{{ display_name_attributes.addClass('fs-3') }}>
          {{ display_name }}
        </h1>

        {% if professional_title %}
          <div class="person__prof-title mb-2"><em>{{ professional_title }}</em></div>
        {% endif %}

        {% for id, item in left_column %}
          <div class="person__item person__{{ id }} mb-2">{{ item }}</div>
        {% endfor %}
      </div>
      {% if about %}
        <div class="col-12 mt-4">
          {{ about }}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="col col-md-4">
    {% for id, item in right_column %}
      <div class="person__item person__{{ id }} mb-3">{{ item }}</div>
    {% endfor %}
  </div>
</div>
