{% set attributes = attributes ?: create_attribute() %}
{%
  set classes = [
    "header-mark",
    "navbar-brand",
  ]
%}

{# Use the logo_path if it is set.  Otherwise link the front page. #}
{% set logo_path = logo_path ? logo_path : path('<front>') %}

<div {{ attributes.addClass(classes) }}>
  {% if site_logo %}
  <a href="{{ logo_path }}" title="{{ logo_title|default("Home") }}" rel="home" class="site-logo d-block">
    <img src="{{ site_logo }}" alt="{{ logo_title|default("Home") }}" fetchpriority="high" height="77" width="293" />
  </a>
  {% endif %}
  {% if site_name %}
    {% include 'psulib_base:divider' with { color: "pugh", thickness: "sm", width: "full", orientation: "vertical" } %}
    <div class="header-mark--name-slogan {% if hide_site_name %}visually-hidden{% endif %}">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-title">
        {{ site_name }}
      </a>

      {% if site_slogan %}
      <div class="site-slogan">{{ site_slogan }}</div>
      {% endif %}
    </div>
  {% endif %}

</div>
