{% apply spaceless %}

{% set alert_banner_attributes = alert_banner_attributes ?: create_attribute() %}

{% set alert_banner_classes = alert_banner_utility_classes is iterable ? alert_banner_utility_classes : [alert_banner_utility_classes] %}
{% set severity = severity|default('nonEmergency') %}

{%
  set alert_banner_classes = alert_banner_classes|merge([
    'alert-banner',
    'alert-banner--' ~ severity,
    'py-2',
  ])
%}

{% set icon_map = {
  'urgent': 'bi-exclamation-diamond-fill',
  'nonEmergency': 'bi-exclamation-circle-fill',
  'immediate': 'bi-exclamation-triangle-fill',
  'allClear': 'bi-exclamation-circle-fill',
}%}

{% set alert_collapse_id = 'alert-banner'|clean_unique_id %}

<div {{ alert_banner_attributes.addClass(alert_banner_classes).removeClass('alert').setAttribute('id', alert_collapse_id ) }} role="alert">
  <div class="container-fluid">
    <div class="alert-banner--inner fs-5">
      <button
        class="ms-0 btn btn-link alert-banner--button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#{{ alert_collapse_id }}-collapse"
        aria-expanded="false"
        aria-controls="{{ alert_collapse_id }}-collapse">
          <i class="bi {{ icon_map[severity]|default('bi-exclamation-circle-fill') }}"></i> {{ title -}}
      </button>
    </div>

    <div id="{{ alert_collapse_id }}-collapse" class="alert-banner--content clearfix collapse mt-2">
      {% block content %}
        {{ content }}
      {% endblock %}

      {% block footer_content %}
        <div class="alert-banner--footer font-size-sm">
          {{ footer_content }}
        </div>
      {% endblock %}
    </div>
  </div>
</div>

{% endapply %}
