<footer class="mt-auto {{ footer_classes }}{{ show_federated_footer ? ' footer--with-federated' : '' }}">
  <div class="container-fluid">

    <div class="row">
      {% if site_logo or show_footer_left or show_footer_right %}
      <div class="col-12 col-lg-4 col-xl-3 mb-5 footer--logo">
        {% if site_logo %}
        <a href="{{ site_logo_url }}" title="{{ site_logo_alt }}" rel="home" class="site-logo d-block">
          <img src="{{ site_logo }}" alt="{{ site_logo_alt }}" fetchpriority="high" height="52" width="198"/>
        </a>
        {% endif %}
        {% block footer_left %}{{ footer_left }}{% endblock %}
      </div>
      <div class="col-12 col-lg-8 col-xl-9 mb-5 footer--main">
        {% block footer_right %}{{ footer_right }}{% endblock %}
      </div>
      {% endif %}

      {% if show_footer_bottom %}
      <div class="col footer--bottom">
        {% block footer_bottom %}{{ footer_bottom }}{% endblock %}
      </div>
      {% endif %}
    </div>
  </div>
  {% block federated_footer %}
    {{ federated_footer }}
  {% endblock %}
</footer>
