
{% block footer %}

<footer class="mt-auto {{ footer_classes }}">
  <div class="container-fluid">

    <div class="row">
      {% if site_logo or show_footer_left or show_footer_right %}
      <div class="col-12 col-lg-4 col-xl-3 mb-5">
        {% if site_logo %}
        <a href="{{ site_logo_url }}" title="{{ site_logo_alt }}" rel="home" class="site-logo d-block">
          <img src="{{ site_logo }}" alt="{{ site_logo_alt }}" fetchpriority="high" height="52" width="198"/>
        </a>
        {% endif %}
        {% block footer_left %}{% endblock %}
      </div>
      <div class="col-12 col-lg-8 col-xl-9 mb-5">
        {% block footer_right %}{% endblock %}
      </div>
      {% endif %}

      {% if show_footer_bottom %}
      <div class="col">
        {% block footer_bottom %}{% endblock %}
      </div>
      {% endif %}
    </div>
  </div>
</footer>
{% endblock %}

{% set brand_footer_data = '{"__typename":"ComponentBrandFooter","sys":{"id":"1baKz8VBtvQCP31WFyYulF"},"linkContentCollection":{"items":[{"label":"Privacy Statements","url":"https://www.psu.edu/web-privacy-statement"},{"label":"Non Discrimination","url":"https://policy.psu.edu/policies/ad85"},{"label":"Accessibility","url":"https://www.psu.edu/accessibilitystatement"},{"label":"Equal Opportunity","url":"https://policy.psu.edu/policies/hr11"},{"label":"Legal Statements","url":"https://www.psu.edu/legal-statements"}]}}' %}

<psf-brand-footer data='{{ brand_footer_data|raw }}' />
