{#
/**
  * @file
  * Accordion component.
  *
  * Bootstrap Documentation
  * https://getbootstrap.com/docs/5.3/components/accordion/
  *
  * Full List Utility Classes
  * https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L214
  *
  * Available properties:
  * - title (string) (default: '')
  * - title_tag (string) (default: 'h2')
  * - default_item_tag (string) (default: 'h3')
  * - title_link: (link object) (default: {})
  * - title_attributes: (drupal attrs)
  * - id (int) (default: accordion-random(1000))
  * - flush (boolean) (default: false)
  * - items (array) (default: []): format: [
  *     {
  *       title: (string),
  *       title_tag: (string),
  *       content: (block),
  *       stay_open (boolean) (default: false)
  *     },
  *   ]
  * - open_item_id (int) (default: 0)
  *
  * usage example: @see README.md
  *
  */
#}
{% apply spaceless %}

{% set title = title|default('') %}

{% set title_tag = title_tag|default('h2') %}
{% set default_item_tag = default_item_tag|default('h3') %}
{% set title_link = title_link|default({}) %}
{% set title_attributes = title_attributes ?: create_attribute() %}
{% set id = id|default('accordion-' ~ random(1000)) %}
{% set flush = flush ?? false %}
{% set items = items|default([]) %}
{% set open_item_id = open_item_id|default(0) %}
{% set accordion_utility_classes = accordion_utility_classes is iterable ? accordion_utility_classes : [accordion_utility_classes] %}
{% set accordion_item_utility_classes = accordion_item_utility_classes is iterable ? accordion_item_utility_classes : [accordion_item_utility_classes] %}

{%
  set accordion_classes = accordion_utility_classes|merge([
    'accordion-component'
  ])
%}

{%
  set accordion_item_classes = accordion_item_utility_classes|merge([
    'accordion-item'
  ])
%}

{% if flush %}
  {% set accordion_classes = accordion_classes|merge(['accordion-flush']) %}
{% endif %}

{% set accordion_attributes = accordion_attributes ?: create_attribute() %}
{% set accordion_item_attributes = accordion_item_attributes ?: create_attribute() %}
{% set accordion_attributes = accordion_attributes.addClass(accordion_classes).setAttribute('id', id) %}

{% if items is not empty %}
  <div {{ accordion_attributes.addClass(accordion_classes) }}>
    {% if title is not empty %}
      {%
        include 'psulib_base:heading' with {
          heading_html_tag: title_tag,
          content: title,
          heading_attributes: title_attributes,
        }
      %}
    {% endif %}

    {% for item in items %}
      {% set content = item.content|default('') %}
      {% set open_item = open_item_id == loop.index %}
      {%
        set button_classes = [
          'accordion-button',
          'text-wrap',
        ]
      %}

      {% if not open_item %}
        {% set button_classes = button_classes|merge(['collapsed']) %}
      {% endif %}

      {% if content %}
        <details {{ accordion_item_attributes.addClass(accordion_item_classes).setAttribute('name', id) }} id="accordion-item-{{ id }}-{{ loop.index }}" {% if open_item %} open {% endif %}>
          {% set item_title_tag = item.title_tag|default(default_item_tag) %}

          <summary class="text-wrap accordion-button">
            <{{item_title_tag}} class="accordion-header" id="heading-{{ id }}-{{ loop.index }}">
              {{ item.title }}
            </{{item_title_tag}}>
          </summary>

          <div class="accordion-body">
            {% block content %}
              {{ content }}
            {% endblock %}
          </div>
        </details>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% endapply %}
