{{ attach_library('psulib_base/layout') }}

{%
  set first_classes = [
    'psul-layout-column--first',
    'layout__region',
    'col-12',
    content.second ? 'col-lg-6' : '',
  ]
%}

{%
  set second_classes = [
    'psul-layout-column--second',
    'layout__region',
    'col-12',
    content.first ? 'col-lg-6' : '',
  ]
%}

{% if content and not content_is_empty %}
  <div {{ attributes.addClass('layout psul-two-column') }}>
    <div class="row gy-3 gy-lg-0 gx-lg-5">
    {% if content.first|render|striptags|trim %}
      <div {{ region_attributes.first.addClass(first_classes) }}>
        {{ content.first }}
      </div>
    {% endif %}
    {% if content.second|render|striptags|trim %}
      <div {{ region_attributes.second.addClass(second_classes) }}>
        {{ content.second }}
      </div>
    {% endif %}
    </div>
  </div>
{% endif %}
