{%
  set main_class = [
    'psul-layout-column--main',
    'col-12',
    content.sidebar ? 'col-lg-8' : 'col-12',
  ]
%}

{%
  set sidebar_classes = [
    'psul-layout-column--sidebar',
    'col-12',
    content.main ? 'col-lg-4' : 'col-12',
    'order-lg-first',
  ]
%}

{% if content %}
  <div {{ attributes.addClass('psul-two-column') }}>
    <div class="row">
    {% if content.main %}
      <div {{ region_attributes.main.addClass(main_class) }}>
        {{ content.main }}
      </div>
    {% endif %}
    {% if content.sidebar %}
      <div {{ region_attributes.sidebar.addClass(sidebar_classes) }}>
        {{ content.sidebar }}
      </div>
    {% endif %}
    </div>
  </div>
{% endif %}
