{%
  set main_class = [
    'psul-layout-column--main',
    'col-12',
    'col-lg',
  ]
%}

{%
  set sidebar_classes = [
    'psul-layout-column--sidebar',
    'col-12',
    'col-sm-6 col-lg col-lg-w350',
    'order-lg-first',
  ]
%}

{% set sidebar_attributes = region_attributes.sidebar ?? create_attribute() %}

{% if content %}
  <div {{ attributes.addClass('psul-two-column ') }}>
    <div class="row gy-3 gy-lg-0 gx-lg-4 mb-3 mb-lg-4">
    {% if content.main %}
      <div {{ region_attributes.main.addClass(main_class) }}>
        {{ content.main }}

        {% if content.bottom_left or content.bottom_right %}
          <div class="row gy-3 gy-lg-0 gx-lg-4 mt-3">
            {% if content.bottom_left %}
              <div {{ region_attributes.bottom_left.addClass('col-12 col-lg') }}>
                {{ content.bottom_left }}
              </div>
            {% endif %}
            {% if content.bottom_right %}
              <div {{ region_attributes.bottom_right.addClass('col-12 col-lg') }}>
                {{ content.bottom_right }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endif %}
      <div {{ sidebar_attributes.addClass(sidebar_classes) }}>
        {% if content.sidebar %}
          <div class="text-bg-light p-3">
            {{ content.sidebar }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
