{{ attach_library('psulib_base/layout') }}

{%
  set main_class = [
    'psul-layout-column--main',
    'layout__region',
    'col-12',
    content.sidebar ? 'col-lg-8' : '',
  ]
%}

{%
  set sidebar_classes = [
    'psul-layout-column--sidebar',
    'layout__region',
    'col-12',
    content.main ? 'col-lg-4' : '',
  ]
%}

{% if content %}
  <div {{ attributes.addClass('layout psul-two-column') }}>
    <div class="row gy-3 gy-lg-0 gx-lg-5">
    {% if content.main %}
      <div {{ region_attributes.main.addClass(main_class) }}>
        {{ content.main }}
      </div>
    {% endif %}
    {% if content.sidebar %}
      <div {{ region_attributes.sidebar.addClass(sidebar_classes) }}>
        {{ content.sidebar }}
      </div>
    {% endif %}
    </div>
  </div>
{% endif %}
