{{ attach_library('psulib_base/layout') }}

{%
  set left_classes = [
    'psul-layout-column--left',
    'layout__region',
    'col-12',
    'col-md-6',
    'col-lg',
  ]
%}

{%
  set center_classes = [
    'psul-layout-column--center',
    'layout__region',
    'col-12',
    'col-md-6',
    'col-lg',
  ]
%}

{%
  set right_classes = [
    'psul-layout-column--right',
    'layout__region',
    'col-12',
    'col-lg',
  ]
%}

{% if content and not content_is_empty %}
  <div {{ attributes.addClass('layout psul-three-column') }}>
    <div class="row gx-4 gx-md-5">

      <div {{ region_attributes.left.addClass(left_classes) }}>
        {{ content.left }}
      </div>

      <div {{ region_attributes.center.addClass(center_classes) }}>
        {{ content.center }}
      </div>

      <div {{ region_attributes.right.addClass(right_classes) }}>
        {{ content.right }}
      </div>
    </div>
  </div>

{% endif %}
