{% set attributes = create_attribute() %}
{% set classes = [
  'news-cards',
  'news-cards--' ~ card_type|clean_class,
] %}
{{ dump() }}
<div {{ attributes.addClass(classes) }}>
  {% if title or body %}
    <div class="news-cards__header row">
      <div class="col-12 col-md-8 offset-md-2">
        {% if title %}
          {% include 'psulib_base:heading' with {
            content: title,
            heading_html_tag: 'h2',
            heading_utility_classes: ['news-cards__heading'],
          } only %}
        {% endif %}

        {% if body %}
          <div class="news-cards__description">
            {{ body }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {# Cards #}
  <div class="news-cards__cards">
    {% for item in items %}
      <div class="news-cards__card">

        {# Image #}
        {% if item.image_media %}
          {{ item.image_media }}
        {% else %}
          {% include 'psulib_base:image' with {
            src: item.image,
            image_utility_classes: ['news-cards__card-image','img-fluid'],
            alt: item.title,
          } only %}
        {% endif %}

        {# Title #}
        {%
          include 'psulib_base:heading' with {
            heading_html_tag: 'h3',
            title_link: item.url ?? '',
            content: item.title,
            heading_utility_classes: [
              'news-cards__card-title',
            ],
            heading_link_utility_classes: [ 'stretched-link',],
          }
        %}

        {% if not hide_dates and item.date %}
          <div class="news-cards__card-date">{{ item.date }}</div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  {% if cta_button %}
    <div class="news-cards__cta">
      {% if cta_button_render|render %}
        {{ cta_button_render }}
      {% elseif cta_button %}
        {%
            include 'psulib_base:button' with {
              button_html_tag: 'a',
              url: cta_button.url,
              color: 'primary',
              content: cta_button.title,
              button_utility_classes: [],
            }
          %}
      {% endif %}
    </div>

  {% endif %}

</div>

